@media print {
    .tm-sidebar,
    #about,
    .heading,
    .blocks,
    #ideas,
    .img-fluid,
    #contact {
        display: none;
    }
    body {
        width: 100%;
    }
    .tm-banner {
        height: 300px;
    }
    .tm-content-box {
        margin: 0;
    }
    .tm-main-content {
        margin: 0;
    }
    .flex-2-col {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .flex-item img {
        height: 350px;
    }
    .tm-team-description-container {
        max-width: none;
        padding-bottom: 0;
        padding-top: 0;
    }
    h2.tm-section-title {
        color: blue;
    }
}

@media screen {
    .thumbnail {
        border-radius: 50%;
    }
    .box-bg:hover {
        background-color: #76cdd7;
    }
    .box-bg:hover h2 {
        color: white;
        font-weight: bold;
    }
    p::first-letter {
        color: #76cdd7;
        font-size: 30px;
    }

    #home .tm-banner {
        padding-top: 0;
    }

    .tm-sidebar,
    #home,
    section {
        box-shadow: 0 0 20px 0 grey;
    }

    #home:before,
    section:before {
        content: '';
        display: inline-block;
        border-top: 30px solid #76cdd7;
        border-right: 130px solid transparent;
    }
    .carousel-content .tm-section-title {
        color: gainsboro;
        letter-spacing: 5px;
    }
    h2+p {
        font-style: italic;
    }
    h2~p {
        text-indent: 20px;
        line-height: 1.7;
    }
    a:visited {
        color: silver
    }
    a:hover {
        text-decoration: underline double;
        color: blue;
    }
    .pad li:first-child:after,
    .pad li:nth-child(3):after {
        content: "New";
        vertical-align: top;
        font-size: smaller;
        color: red
    }
    .blocks li.box:nth-child(odd) {
        background-color: lightgrey
    }
    li.box p {
        text-indent: 0;
        font-size: 20px;
        text-align: left;
    }
    li.box p::first-letter {
        color: black;
    }
    li.box h2 {
        text-align: left;
        font-size: 40px;
    }
    .tm-nav-item:not(:last-of-type) {
        border-bottom: lightgrey dotted 2px;
    }
    input[type=text] {
        color: red;
    }
    .submit-btn {
        color: red;
    }
    .mandatory-field::after {
        content: "*";
        color: red;
    }
    .submit-btn:hover {
    	background-color: #76cdd7;
    }
}