$articleBackground: #efefef;
$bodyBackground: white;
$font: Arial, sans-serif;
$headerColor:#1fbcd3;
$navigationBorder:#617d8a;
$navigationLink:#1fbcd3;
$searchColor:#1fbcd3;
$postDescriptionBorder:#617d8a;
$postDescriptionColor:#159587;
$postHeader:#1697a6;
$postParagraf:#617d8a;
$aboutParagraf:#617d8a;
$formInputColor:grey;
$buttonText:white;
$buttonBackground:#1fbcd3;
$footer:grey;