$articleBackground: white;
$bodyBackground: #efefef;
$font: "Times New Roman", serif;
$headerColor:#fc5830;
$navigationBorder:lightgrey;
$navigationLink:#fc5830;
$searchColor:#fc5830;
$postDescriptionBorder:#bdbfce;
$postDescriptionColor:#bdbfce;
$postHeader:#617d8a;
$postParagraf:#617d8a;
$aboutParagraf:#617d8a;
$formInputColor:grey;
$buttonText:white;
$buttonBackground:#fc5830;
$footer:grey;